.pageHeader {
    text-align: center;
    color: rgb(66, 51, 37);
    text-decoration-color: rgb(66, 51, 37);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration-line: underline; 

}

body {
    background-color: bisque;   
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(coffee.png); 
    min-height: 100%;
    height: auto;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 3px solid black;
    justify-content: center;
}

.shop {
    display: flex;
    margin: 10px;
    flex-basis: 30%;
    font-size: 15px;
    background-color: white;
    border-radius: 3%;
    opacity: 0.75;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: rgb(26, 27, 27);
    max-width: 20em;
    box-shadow: 2px 2px 5px grey;
}

a:hover {
   color: rgb(77, 59, 59);
    transition: .2s;
 }